<section class="contenedor mt-5 nosotros">
    <div class="contenido-nosotros">
        <h2>Sobre Nosotros</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Soluta accusantium omnis repellendus libero ut porro totam ipsa,
              qui earum consequuntur neque, nemo perspiciatis ratione veniam 
              recusandae atque assumenda vel ad?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Nulla expedita soluta maiores quis placeat cum neque, velit
              saepe reprehenderit voluptatibus, provident eligendi? Modi,
               veniam nemo eum nulla facilis nesciunt tenetur?</p>
    </div>
</section>