<main class= "contenedor mt-5 base">
    <h2>Conoce nuestros modelos</h2>

    <div class="modelo basico">
        <div class="contenido-modelo">
            <h3>Modelo Basico</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae ab perferendis est aspernatur doloremque minima voluptatem 
            explicabo, voluptatibus sit quibusdam itaque quae, ad sapiente. 
        </p>
            <a href="#" class="btn">Mas informacion</a>
        </div>
    </div>

    <div class="modelo premier">
        <div class="contenido-modelo">
            <h3>Modelo Premier</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae ab perferendis est aspernatur doloremque minima voluptatem 
            explicabo, voluptatibus sit quibusdam itaque quae, ad sapiente. 
            </p>
            <a href="#" class="btn">Mas informacion</a>
        </div>
    </div>

    <div class="modelo elite">
        <div class="contenido-modelo">
            <h3>Modelo Elite</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Beatae ab perferendis est aspernatur doloremque minima voluptatem 
            explicabo, voluptatibus sit quibusdam itaque quae, ad sapiente. 
            </p>
            <a href="#" class="btn">Mas informacion</a>
        </div>
    </div>
</main>